.Lower-dash {
  display: flex;
  flex-wrap: wrap;
}
.Dash-main{
  overflow: scroll;
  height: 100vh;
  width: 100%;
}
.Dash-card {
  flex-basis: 47%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.Display-chart {
  flex-basis: 49%;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.Display-chart canvas {
  height: 200px;
  width: 200px;
}

.dash-project {
  height: 175px;
  width: 257px;
  border-radius: 10px;
  background-color: #63e6be;
  padding: 10px;
  position: relative;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.dash-project h1 {
  font-size: 24px;
  text-align: left;
}

.dash-project .Icons {
  position: absolute;
  top: 15px;
  right: 14px;

}

.dash-project .Count {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.dash-project p {
  font-size: 18px;
}

/* Dashboard.css */

.Dash-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100vh;
}

.Pie-style {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Upper-dash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}

.User-information {
  flex-basis: 70%;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow: scroll;

  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}

::-webkit-scrollbar {
  display: none;
}

.Social-media {
  height: 11rem;
  width: 288px;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 8px;
  position: relative;
  right: 26px;
}

.Social-media ul li {
  display: flex;
  gap: 20px;
}

.Social-media ul li a {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.Social-icons0 {
  color: #63e6be;
}

.Lower-dash {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.User-table {
  width: 100%;
  border-collapse: collapse;
}

.User-table th,
.User-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.User-table th {
  background-color: #63e6be;
  text-align: left;
}

.User-table tr:nth-child(even) {
  background-color: #c3fae8;
}

.User-table tr:hover {
  background-color: #e6fcf5;
}

/* ....................responxice */
@media (width:1024px) {
  .dash-project {
    height: 155px;
    width: 208px;
  }

  .Display-chart {
    flex-basis: 43%;
  }

  .User-information {
    flex-basis: 64%;
  }

  .Social-media {
    height: 9rem;
    width: 212px;
    padding: 13px;
    position: relative;
    right: 80px;
  }

  .Social-media h2 {
    font-size: 20px;
  }

  .Social-media ul li {
    display: flex;
    gap: 17px;
  }

  .Social-media li {
    padding: 5px;
  }
}
@media (width:768px) {
  .dash-project {
    height: 162px;
    width: 317px;
  }
.Dash-card{
  flex-basis: 100%;
}
  .Display-chart {
    flex-basis:100%;
  }

  .User-information {
    flex-basis: 100%;
  }

  .Social-media {
    height: 9rem;
    width: 100%;
    padding: 13px;
    position: relative;
    right: -3px;
}

  .Social-media h2 {
    font-size: 20px;
  }

  .Social-media ul li {
    display: flex;
    gap: 17px;
  }

  .Social-media li {
    padding: 5px;
  }
}
@media (width:425px) {
  .dash-project {
    height: 162px;
    width: 333px;
}

.Dash-card{
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
  .Display-chart {
    flex-basis:100%;
  }

  .User-information {
    flex-basis: 100%;
  }

  .Social-media {
    height: 9rem;
    width: 100%;
    padding: 13px;
    position: relative;
    right: -3px;
}

  .Social-media h2 {
    font-size: 20px;
  }

  .Social-media ul li {
    display: flex;
    gap: 17px;
  }

  .Social-media li {
    padding: 5px;
  }
}